   <div class="card-container">
   <div class="card-img-wrapper">
    <img class='propImage' src="assets/Images/house_default.jpg">
    <ul class="list-inline text-center memeber-icon animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" ><i class="far fa-edit"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary" ><i class="fas fa-id-card"></i></button>
      </li>
    </ul>
   </div>
    <div class="card-body p-1">
      <p> {{property.Name}}</p>
      <p> {{property.Type}}</p>
      <p> {{property.Price}}</p>
    </div>
  </div>

